pre {
  font-family: monospace;
  background: lightgrey;
  padding: 10px;
  border: thin dotted black;
  
}

button {
  margin-right: 10px;
}

.buttons {
  padding-top: 20px;
  width: fit-content;
}

.spinner {
  float: right;
}
