<div>
  <div class="cloudapp-actions">
    <button mat-flat-button color="secondary" [routerLink]="['/']">
      <mat-icon>arrow_back</mat-icon>
      Home
    </button>
    <button mat-flat-button color="secondary" [matMenuTriggerFor]="import">{{'Settings.Share' | translate}}</button>
      <mat-menu #import="matMenu">
        <button mat-menu-item (click)="file.click()">{{'Settings.Import' | translate}}</button>
        <button mat-menu-item (click)="exportProfile()">{{'Settings.Export' | translate}}</button>
        <button mat-menu-item (click)="exportProfiles()">{{'Settings.ExportAll' | translate}}</button>
      </mat-menu>
    <button mat-flat-button type="button" color="secondary" (click)="reset()" [disabled]="!form.dirty">{{ 'Reset' | translate }}</button> 
    <button mat-flat-button type="button" color="primary" (click)="save()" [disabled]="!form.dirty">{{ 'Save' | translate }}</button>
  </div>
  <h1 translate="">Settings.Title</h1>
</div>
<div *ngIf="form.invalid && submitted">
  <ul>
    <li *ngFor="let error of formErrors">
      <span [translate]="error.code" [translateParams]="error.params" class="alert alert-danger"></span>
    </li>
  </ul>
</div>  


<div class="loading-shade" *ngIf="saving">
  <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>

<form [formGroup]="form">

  <h2 translate>Settings.Profiles</h2>
  <div class="profile-list">
    <mat-form-field>
      <mat-label translate>Settings.SelectProfile</mat-label>
      <mat-select placeholder="Profile" [(value)]="selectedProfile" [compareWith]="compareProfiles">
        <mat-select-trigger>{{selectedProfile?.value.name}}</mat-select-trigger>
        <mat-option *ngFor="let profile of profiles.controls" [value]="profile">
          {{profile.value.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <i class="uxf-icon uxf-plus eca-button" (click)="addProfile()" attr.aria-label="{{'Settings.AddProfile'|translate}}" title="{{'Settings.AddProfile'|translate}}"></i>
    <i class="uxf-icon uxf-pencil eca-button" (click)="renameProfile()" attr.aria-label="{{'Settings.RenameProfile'|translate}}" title="{{'Settings.RenameProfile'|translate}}"></i>
    <i class="uxf-icon uxf-trash eca-button" (click)="deleteProfile()" attr.aria-label="{{'Settings.DeleteProfile'|translate}}" title="{{'Settings.DeleteProfile'|translate}}"></i>    
  </div>
  <app-settings-profile [form]="selectedProfile"></app-settings-profile>
</form>

<input type="file" #file id="file" class="hidden" (change)="readFile($event.target.files)" accept="text/json" style="display: none;"/>
