div.profile-container {
  padding-top: 25px;
}

mat-header-cell {
  padding: 15px;
}

.mat-column-actions {
  flex: 0 0 50px;
}

.alert-danger {
  color: red;
}

mat-cell {
  padding: 5px;
}

mat-cell.border-right {
  border-right: 1px solid grey;
}

mat-cell:first-child,
mat-footer-cell:first-child,
mat-header-cell:first-child {
    padding-left: 0px !important;
}