pre {
  font-family: monospace;
  background: lightgrey;
  padding: 10px;
  border: thin dotted black;
  margin: 10px 0;
  white-space: pre-wrap;
}

.mat-checkbox {
  display: block;
  margin-bottom: 10px;
}