<div class="loading-shade" *ngIf="running">
  <mat-progress-spinner mode="determinate" [value]="percentComplete" diameter="50"></mat-progress-spinner>
</div>
<div class="cloudapp-actions">
  <button mat-flat-button type="button" color="secondary" (click)="reset()">{{ 'Reset' | translate }}</button>
  <button mat-flat-button type="button" color="primary" (click)="load()" [disabled]="files.length==0 || !!results || !selectedProfile">{{ 'Main.LoadUsers' | translate }}</button>
</div>
<div *ngIf="!results">
<mat-form-field>
  <mat-label translate>Main.SelectProfile</mat-label>
  <mat-select placeholder="Profile" [(value)]="selectedProfile" [compareWith]="compareProfiles">
    <mat-select-trigger>{{selectedProfile?.name}}</mat-select-trigger>
    <mat-option *ngFor="let profile of settings?.profiles" [value]="profile">
      {{profile.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<ngx-dropzone (change)="onSelect($event)" accept=".csv" [multiple]=false>
  <ngx-dropzone-label translate>Main.DragCsv</ngx-dropzone-label>
  <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
    <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
  </ngx-dropzone-preview>
</ngx-dropzone>
</div>

<div *ngIf="results">
  <h2 translation="Results">Results</h2>
  <p>{{resultsSummary}}</p>
  <mat-checkbox labelPosition="before" (change)="showLogChanged($event)" [(ngModel)]="showLog">{{'Main.ShowLog' | translate}}</mat-checkbox>
  <pre #resultsPanel *ngIf="showLog">{{results}}</pre>
  <button mat-stroked-button type="button" (click)="reset()" *ngIf="!running">OK</button> 
</div>

