<h1>Settings</h1>

<form [formGroup]="form">

  <!--
  <h2>General</h2>
  -->

  <h2>Profiles</h2>
  <div class="profile-list">
    <mat-select placeholder="Profile" [(value)]="selectedProfile" [compareWith]="compareProfiles" (selectionChange)="onProfileSelected($event)">
      <mat-select-trigger>{{selectedProfile.value.name}}</mat-select-trigger>
      <mat-option *ngFor="let profile of profiles.controls" [value]="profile">
        {{profile.value.name}}
      </mat-option>
    </mat-select>
    <button type="button" class="pull-right" (click)="addProfile()" mat-icon-button aria-label="Add profile" title="Add profile">
        <mat-icon>add_circle</mat-icon>
    </button>
    <button type="button" (click)="renameProfile()" mat-icon-button aria-label="Rename profile" title="Rename profile">
        <mat-icon>edit</mat-icon>
    </button>    
    <button type="button" (click)="deleteProfile()" mat-icon-button aria-label="Delete profile" title="Delete profile">
        <mat-icon>delete_outline</mat-icon>
    </button>
  </div>

  <app-settings-profile [form]="profiles.at(0)"></app-settings-profile>

  <div *ngIf="form.invalid && submitted" class="alert alert-danger">
      <ul>
        <li *ngFor="let error of formErrors">
          {{error}}
        </li>
      </ul>
    </div>  

</form>

<div class="commands-container">
  <button mat-stroked-button type="button" (click)="reset()" [disabled]="!form.dirty">Reset</button> 
  <button mat-stroken-button type="button" color="primary" (click)="save()" [disabled]="!form.dirty">Save</button>
  {{ status }}
</div>

<p>&nbsp;</p>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Form value
      </mat-panel-title>
    </mat-expansion-panel-header>
    <code>
      {{form.value | json}}
    </code>
  </mat-expansion-panel>
</mat-accordion>